{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Página de apresentação de portfólio">
    <meta name="keywords" content="Tiago Farinha, Java, Python, Django, Android">
    <meta name="author" content="Tiago Farinha">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/laptop.ico' %}"/>

    <style>
        @font-face {
            font-family: 'Bookman Old Style';
            src: local('Bookman Old Style'),
            url('{% static 'fonts/bookman.TTF' %}');
        }
    </style>

    <title> {% block title %}{% endblock %} </title>
</head>

<body>
<header>
    <section class="title">
        <h1> Tiago Farinha </h1>
        <p> {{ curr_job }} </p>
    </section>

    <section class="languages_change">
        {% if active == 'home' %}
            {% if request.session.lang == 'pt' %}
                <a href="{% url 'change_lang_view' %}"> Switch to English </a>
            {% else %}
                <a href="{% url 'change_lang_view' %}"> Mudar para Português </a>
            {% endif %}
        {% endif %}
    </section>

    <nav class="top_menu_bar" id="myTopnav">
        <ul>
            <li><a {% if active == 'home' %} class="active" {% endif %} href="{% url 'home_view' %}"> {{ home }} </a>
            </li>
            <li><a {% if active == 'portfolio' %} class="active" {% endif %} href="{% url 'portfolio_view' %}">
                {{ portfolio }} </a>
            </li>
            <li><a {% if active == 'skills' %} class="active" {% endif %} href="{% url 'skills_view' %}">
                {{ skills }} </a>
            </li>
            <li><a {% if active == 'contacts' %} class="active" {% endif %} href="{% url 'contacts_view' %}">
                {{ contacts }} </a>
            </li>
            <div class="icon" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </ul>
    </nav>
</header>

<section class="container">
    {% block content %}{% endblock content %}
</section>
</body>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "top_menu_bar") {
            x.className += " responsive";
        } else {
            x.className = "top_menu_bar";
        }
    }
</script>
</html>