{% extends "DefaultPage.html" %}
{% load staticfiles %}

{% block title %} {{ main_page }} - TF {% endblock %}

{% block content %}
    {% for message in messages %}
        <p class="success_message" id="message_container"> {{ message }} </p>
    {% endfor %}

    <section class="profile_style">
        <picture class="profile_pic">
            <img src="{{ profile.profile_pic.url }}" alt="Foto de Perfil">
        </picture>

        <section class="informations">
            <h3> {{ profile.name }}</h3>
            <h3> {{ profile.address }}</h3>
            <h3> {{ profile.job_interest }}</h3>
            <h3> {{ age }} Anos </h3>
        </section>

        <p class="description"> {{ profile.biography }} </p>
    </section>

    <section class="social_skills">
        <h4> Soft Skills </h4>
        <ul>
            {% for skill in profile.socialskill_set.all %}
                <li> {{ skill.skill }} </li>
            {% endfor %}
        </ul>
    </section>

    <section class="social_skills">
        <h4> {{ spoken_languages_text }} </h4>
        <ul>
            {% for spoken_language in spoken_languages %}
                <li> {{ spoken_language.language }}
                    <p>({{ spoken_language.level }})</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="contact_and_files">
        <div class="send_message_style">
            <h4> {{ contact }} </h4>
            <form action="{% url 'send_email_view' %}" method="post">{% csrf_token %}
                <input type="text" placeholder="{{ name }}" name="name">
                <input type="email" placeholder="{{ contact_email }}" name="email">
                <input type="text" placeholder="{{ subject }}" name="subject">
                <textarea class="message_box" name="message" rows="10" cols="30" placeholder="{{ message }}"></textarea>
                <input type="submit" value="{{ send }}">
            </form>
        </div>
        <div class="anexos">
            <h4> {{ attachments }} </h4>
            {% for file in files %}
                <label> {{ file.label }}: </label>
                <a href="{{ file.file.url }}" download="{{ file.label }}_Tiago_Farinha">
                    <button class="downbutt"> Download</button>
                </a>
            {% endfor %}
        </div>
    </section>

    <script>
        setTimeout(function () {
            document.getElementById("message_container").style.display = "none";
        }, 2000);
    </script>
{% endblock content %}